<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TeraFinder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TeraFinder.Properties.Settings>
            <setting name="address" serializeAs="String">
                <value>192.168.1.1</value>
            </setting>
            <setting name="port" serializeAs="String">
                <value>6000</value>
            </setting>
            <setting name="protocol" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="def_language" serializeAs="String">
                <value>en</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
        </TeraFinder.Properties.Settings>
    </userSettings>
</configuration>